
{% extends 'base.html' %}
{% load static %}
{% block title %}
    Home
{% endblock %}
{% block content %}

   <body>
        <div class="header-head">
            <div class="container">
                <h1><a href="{% url 'index' %}">ChamaBORA</a></h1>
            </div>
        </div>

        <div class="login">
            <div class="containers">
                <div class="content">

                    <form method="post" action ="{% url 'update_password' %}" class="login-form">
                        {% csrf_token %}
                        <p class="title">
                            Set New Password
                        </p>

                        <br>
                        <p class ="log">Set New Password</p>
                        <hr/>
                        <h5 style="text-decoration:#00a65a">{% include '_messages.html' %}</h5>
                       <div class="form-input" >
                            <span class="label" >Password</span>
                            <input class="input" type="password" name="new_password" id="fpassword" placeholder="Enter Password" required onkeyup='check();'>
                        </div>

                        <div class="form-input" >
                            <span class="label" >Confirm Password</span>
                            <input class="input" type="password" name="password" id="spassword" placeholder="Enter Password" required onkeyup='check();'>
                        </div>

{#                        <div class="container-button" >#}
{#                            <button type="submit" name ="button" class="button" >#}
{#                                Get Code#}
{#                            </button>#}
{#                        </div>#}
{##}
{#                        <div class="form-input" >#}
{#                            <span class="label">Enter Security Code</span>#}
{#                            <input class="input" type="text" name="2facode" placeholder="Enter Code">#}
{#                        </div>#}
                        <span id='message'></span>

                        <div class="container-button" >
                            <button type="submit" name ="button" class="button" style="background-color: #0089A2;color :#fff" >
                                Set New Password
                            </button>
                        </div>



                    </form>
                </div>
            </div>
        </div>
       <script>
        var check = function () {
            if (document.getElementById('fpassword').value == document.getElementById('spassword').value) {
                document.getElementById('message').style.color = 'green';
                document.getElementById('message').innerHTML = 'Password and Confirm password are same';
            } else {
                document.getElementById('message').style.color = 'red';
                document.getElementById('message').innerHTML = 'Password and Confirm password does not match';
            }
        }
    </script>
    </body>





{% endblock %}