
{% extends 'base.html' %}
{% load static %}
{% block title %}
    Home
{% endblock %}
{% block content %}

    <body data-bs-spy="scroll" data-bs-target="#navbarExample">

        <!-- Navigation -->
        <nav id="navbarExample" class="navbar navbar-expand-lg fixed-top navbar-light" aria-label="Main navigation">
            <div class="container">

                <!-- Image Logo -->
                <a class="navbar-brand logo-image" href="{% url 'index' %}"><h1>ChamaSpace</h1></a>

                <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
                    <ul class="navbar-nav ms-auto navbar-nav-scroll">
                        <li class="nav-item">
                            <a class="nav-link" href="#features">FEATURES</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#details">HOW IT WORKS</a>
                        </li>
{#                        <li class="nav-item">#}
{#                            <a class="nav-link" href="#faqs">FAQs</a>#}
{#                        </li>#}
                        <li class="nav-item">
                            <a class="nav-link" href="#contact">CONTACTS</a>
                        </li>
                    </ul>
                    <span class="nav-item">
                        <a class="btn-outline-sm" href="{% url 'Login' %}">LOG IN</a>
                    </span>
                    <span class="nav-item">
                        <a class="btn-outline-sm" href="{% url 'Sign_up' %}">CREATE AN ACCOUNT</a>
                    </span>
                </div>
            </div>
        </nav>
        <!-- end of navigation -->

        <!-- Header -->
        <header id="header" class="header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="text-container">
                            <h2 class="h2-large">Do not wait </h2>
                            <h1 class="h2-large"><span class="replace-me">Join a Chama Online & <br>Grow your Capital.</span></h12>
                            <p class="p-large">ChamaSpace is the simple, safe and secure way to be in a chama.</p>
                            <a class="btn-solid-lg" href="{% url 'Sign_up' %}">Sign up for Free</a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="image-container">
                            <img class="img-fluid" src="{% static 'images/banner-right-image.png' %}" alt="alternative">
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- end of header -->

        <!-- Features -->
        <div id="features" class="cards-1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="h2-heading"><span> ChamaSpace is packed with awesome features</span></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <!-- Card -->
                        <div class="card">
                            <div class="card-icon">
                                <img src="{% static 'images/service-icon-01.png' %}" style="height: 112px;">
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">Simple</h4>
                                <p>Setting up and running your ChamaSpace account is simple.</p>
                            </div>
                        </div>
                        <!-- end of card -->

                        <!-- Card -->
                        <div class="card">
                            <div class="card-icon green">
                                <img src="{% static 'images/service-icon-02.png' %}" style="height: 112px;">
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">Secure</h4>
                                <p>Your data is stored in a secure way.</p>
                            </div>
                        </div>
                        <!-- end of card -->

                        <!-- Card -->
                        <div class="card">
                            <div class="card-icon blue">
                                <img src="{% static 'images/service-icon-03.png' %}" style="height: 112px;">
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">Sure</h4>
                                <p>ChamaSpace is always online to cater for your needs.</p>
                            </div>
                        </div>
                        <!-- end of card -->
                    </div>
                </div>
            </div>
        </div>
        <!-- end of services -->

        <!-- Questions -->
        <div class="accordion-1" id="details">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="h2-heading"><span>How ChamaSpace Works</span></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="accordion" id="accordionExample">

                            <!-- Accordion Item -->
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">How can I Set up an account on ChamaSpace?</button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">Visit ChamaSpace Website, Create and account and optimize it. Join a Chama and add members</div>
                                </div>
                            </div>
                            <!-- end of accordion-item -->

                            <!-- Accordion Item -->
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Is there a limit to number of Chamas one can join?</button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">There is no limit to the number of chamas you can join.</div>
                                </div>
                            </div>
                            <!-- end of accordion-item -->

                            <!-- Accordion Item -->
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">How can I Set up an account on ChamaSpace?</button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">Visit ChamaSpace Website, Create an account and optimize it. Join a Chama and add members.</div>
                                </div>
                            </div>
                            <!-- end of accordion-item -->

                            <!-- Accordion Item -->
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Is there a limit to number of Chamas one can join?</button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">There is no limit to the number of chamas you can join.</div>
                                </div>
                            </div>
                            <!-- end of accordion-item -->



                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of questions -->

        <!-- Invitation -->
        <div class="basic-3">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h4>Sign up and get started.</h4>
                        <a class="btn-outline-lg page-scroll" href="{% url 'Sign_up' %}">Get Started</a>
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div> <!-- end of basic-3 -->
        <!-- end of invitation -->




        <!-- Copyright -->
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <p class="p-small">Copyright © <a href="{% url 'index' %}">ChamaSpace</a></p>
                    </div> <!-- end of col -->
                </div> <!-- enf of row -->
            </div> <!-- end of container -->
        </div> <!-- end of copyright -->
        <!-- end of copyright -->


        <!-- Back To Top Button -->
        <button onclick="topFunction()" id="myBtn">
            <img src="{% static 'images/up-arrow.png' %}" alt="alternative">
        </button>
        <!-- end of back to top button -->


    </body>

{% endblock %}
