{% load static %}

<!-- Mobile Sidebar (Goals Style) -->
<aside class="sidebar-left border-right bg-white shadow" id="leftSidebar" data-simplebar>
    <a href="#" class="btn collapseSidebar toggle-btn d-lg-none text-muted ml-2 mt-3" onclick="closeNav()">
        <i class="fe fe-x"><span class="sr-only">Close</span></i>
    </a>

    <div class="offcanvas-header">
        <h5>
            <a href="#">
                <img src="{% static 'images/offcanvas_logo.png' %}" alt="ChamaBora Logo">
            </a>
        </h5>
    </div>
    
    <div class="offcanvas-body position-relative">
        <ul class="offcanvas_list">
            <!-- Chamas Navigation -->
            <li class="list-item">
                <a href="#" class="dashboard-link">
                    <img src="{% static 'images/icon_house.png' %}" alt="">
                    Dashboard
                </a>
            </li>
            <li class="list-item">
                <a href="#" class="finances-link">
                    <img src="{% static 'images/icon_wallet.png' %}" alt="">
                    Finances
                </a>
            </li>
            <li class="list-item">
                <a href="#" class="contribution-link">
                    <img src="{% static 'images/icon_people.png' %}" alt="">
                    Contributions
                </a>
            </li>
            <li class="list-item">
                <a href="#" class="loans-link">
                    <img src="{% static 'images/icon_box.png' %}" alt="">
                    Loans
                </a>
            </li>
            <li class="list-item">
                <a href="#" class="expenses-link">
                    <img src="{% static 'images/file-earmark.png' %}" alt="">
                    Expenses
                </a>
            </li>
            <li class="list-item">
                <a href="#" class="fines-link">
                    <img src="{% static 'images/icon_gear.png' %}" alt="">
                    Fines
                </a>
            </li>
            <li class="list-item">
                <a href="#" class="reports-link">
                    <img src="{% static 'images/icon_bell_.png' %}" alt="">
                    Reports
                </a>
            </li>
            <li class="list-item">
                <a href="#" class="members-link">
                    <img src="{% static 'images/icon_people.png' %}" alt="">
                    Members
                </a>
            </li>
            <li class="list-item">
                <a href="#" class="notifications-link">
                    <img src="{% static 'images/icon_bell_.png' %}" alt="">
                    Notifications
                </a>
            </li>
            <li class="list-item admin">
                <a href="#" class="bot-link">
                    <img src="{% static 'images/icon_gear.png' %}" alt="">
                    Bot Control
                </a>
            </li>
            
            <div class="dropdown-divider my-3"></div>
            
            <!-- Navigation Links -->
            <li class="list-item">
                <a href="{% url 'goals_dashboard' %}">
                    <img src="{% static 'images/icon_house.png' %}" alt="">
                    Goals Dashboard
                </a>
            </li>
            <li class="list-item">
                <a href="{% url 'chamas:chamas' %}">
                    <img src="{% static 'images/icon_people.png' %}" alt="">
                    My Chamas
                </a>
            </li>
        </ul>
        
        <a href="{% url 'Logout' %}" class="btn log_out_btn">
            <i class="fe fe-log-out mr-2"></i>
            Log Out
        </a>
    </div>
</aside>

<!-- Desktop Sidebar Overlay -->
<div class="sidebar-overlay" onclick="closeNav()"></div>