{% load static %}
<div class="page_header pt-3">
  <div class="container">
    <nav class="page_nav mob_nav show_on_mobile">
      <div class="brand">
        <a href="#">
          <img src="{% static 'images/Chama-Bora_clrd.png' %}" alt="">
        </a>
      </div>
      <ul class="nav-list">
        <li class="" data-toggle="modal" data-target=".modal-notif">
          <img src="{% static 'images/Notifications.png' %}" alt="">
        </li>
        &nbsp;&nbsp;
        <li class="">
          <button class="btn navbar-toggler text-muted collapseSidebar" type="button">
            <img src="{% static 'images/menu.png' %}" class="avatar-img rounded-circle" alt="">
          </button>
        </li>
      </ul>
    </nav>
  </div>
</div>